$lightergrey: #F8F8F8;
$lightgrey: #ebebeb;
$white: #FFF;

html {
    height: 100%;
}

* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// General Styling --------------------------------
#root {
    height: 100%;
}

body {
    height: 100%;

    h1 {
        font-size: 42px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 18px;
    }

    p, a {
        font-size: 16px;
    }

    main {
        max-width: 1200px;
        margin: 0 auto;
        display: block;
        padding: 0 16px;
        height: 100%;
        
        .loading {
            font-size: 32px;
            width: 100px;
            height: 100px;
            display: block;
            margin: 100px auto;
        }
        
        .error {
            margin: 100px;
            text-align: center;
        }
    
        .topic-badge {
            font-size: 12px;
            background-color: #F9C10A;
            color:#000;
            padding:5px 10px;
            text-transform: uppercase;
            letter-spacing: 0.5px;
        }
    }
}



// Navigation --------------------------------
nav {
    .nav-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 12px;
        
        span {
            width: 40px;
            height: 40px;
            overflow: hidden;
            display: flex;
            border: 3px solid #000;
            border-radius: 50%;
            justify-content: center;
            align-items: normal;
        }
    }
}


// Article List --------------------------------
.article-list-page {
    > h1 {
        margin: 32px 0;
        text-align: center;
        padding: 0 32px;
    }
}

.sorting {
    display: flex;
    margin: 12px;
    justify-content: center;
    gap: 12px;
    align-items: center;
    margin: 16px 0;
    padding: 16px;
    background-color: #dae8f2;
    border: 1px solid #335ED7;

    form {
        display:flex;
        justify-content: center;
        gap: 12px;
        align-items: center;
        fieldset {
            display: flex;
            justify-content: center;
            gap: 12px;
            align-items: center;
            label {
                font-size: 16px;
                margin:0;
            }
        }

    }

    @media only screen and (max-width: 768px) {
        flex-direction: column;
        form {
            flex-direction: column;
        }
      }
}

.article-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    .article-item:hover {
        border: 5px solid red;
    }

    .article-item {
        border: 5px solid lightgrey;
        a {
            max-width: 200px;
            position: relative;
            img {
                display:inline-block;
                width: 100%;
                height: auto;
                max-width:350px;
            }
            .details {
                position: absolute;
                bottom: 0;
                background-color: rgba(0,0,0,0.7);
                padding: 20px;
                color: $white;
                width: 100%;
            }
        }
    }
}

// Select Article Page --------------------------------
main.article-page {
    .article {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        align-items: center;

        .intro {
            grid-area: 1 / 1 / 2 / 3;
            margin: 48px 0 32px 0;
            display: flex;
            flex-direction: column;
            gap: 16px;
            align-items: flex-start;

            p {
                display: flex;
                flex-direction: row;
                line-height: 1.6;
                gap: 6px;

                span {
                    margin-left: 12px;
                }
            }
        }

        .banner {
            position:relative;
            width:100%;

            img {
                width:100%;
                height: auto;
            }
            .topic-badge {
                border-right: 5px solid $white;
                border-bottom: 5px solid $white;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
        
        .detail {
            width: 100%;
            background-color: $white;
            color: #000;
            padding: 20px;
            border: 20px solid #DDD;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            gap: 12px;
        }

        .vote {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 12px;
            margin: 12px 0 0 0;
            width: 100%;

            .vote-display {
                margin: 0 12px;
                font-size: 32px;
            }

            button {
                padding: 6px 12px;
                color: $white;
                border-radius: 5px;

                &.thumb-up {
                    background-color: #1B8753;
                    border: 3px solid darkgreen;
                }
                &.thumb-down {
                    background-color: #DC3445;
                    border: 3px solid darkred;
                }
            }
        }

        .vote-error {
            background-color: pink;
            padding: 6px;
            text-align: center;
            width: 100%;
            color: red;
            border: 1px solid red;
            border-radius: 5px;
            p {
                font-size: 12px;
            }
        }
    }

    .comments {
        .comment-form {
            font-size: 16px;
            display: flex;
            width: 100%;
            gap: 24px;
            justify-content: space-between;
            align-items: stretch;
            margin: 32px 0;
            background-color: #dae8f2;
            padding: 12px;
            border-radius: 6px;
            border: 1px solid #335ED7;

            label {
                font-size: 16px;
            }

            .group-form {
                width: 100%;

                .form-feedback {
                    display: none;
                    padding-top: 6px;
                    span {
                        display: block;
                        font-size: 12px;
                        padding: 6px 12px;
                        border-radius: 6px;
                    }

                    &.invalid{
                        display: block;
                        span{
                            background-color: #fce0e3;
                            border: 1px solid #8b0000;  
                            color: #8b0000;
                        }
                    }
                    &.valid {
                        display: block;
                        span {
                            background-color: #e0faee;
                            border: 1px solid #006400;
                            color: #006400;
                        }
                    }
                }
            }
        }

        .title {
            color: #000;
            font-size: 32px;
            margin: 20px 0;
        }
        .list {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .comment {
                background-color: #DDD;
                border-radius: 6px;
                padding: 12px 60px 12px 12px;
                position: relative;

                .delete-comment {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                    padding: 5px;
                    border-radius: 6px;
                    background-color: #fce0e3;
                    border: 1px solid #8b0000;
                    color: #8b0000;
                }

                &.fail-delete {
                    background-color: #fce0e3;
                    color: #8b0000;
                }

                &.pass-delete {
                    background-color: #e0faee;
                    color: #006400;
                }

                &.pass-delete {
                    -webkit-animation: cssAnimation 5s forwards; 
                    animation: cssAnimation 5s forwards;
                }

                @keyframes cssAnimation {
                    0%   {opacity: 1;}
                    45%  {opacity: 1;}
                    90%  {opacity: 0;}
                    100% {opacity: 0; display: none}
                }
                @-webkit-keyframes cssAnimation {
                    0%   {opacity: 1;}
                    45%  {opacity: 1;}
                    90%  {opacity: 0;}
                    100% {opacity: 0; display: none}
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {
        .article {
            grid-template-rows: auto auto auto;
            .banner {
                grid-area: 2 / 1 / 3 / 3;
            }
            .detail {
                grid-area: 3/1/4/3;
            }
        }
        .comments {
            .comment-form {
                flex-direction: column;
            }
        }
      }
}

// Select Article Page --------------------------------
main.article-topic-page {
    > h1 {
        margin: 32px 0;
        text-align: center;
        padding: 0 32px;
    }
}

// Invalid Path Page --------------------------------
main {
    section.invalid-section {
        display: block;
        margin: 0 auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 60px;
        width: fit-content;
        border: 1px solid $lightgrey;
        border-radius: 8px;
        background-color: $lightergrey;
        padding: 32px 42px;

        h1, h4 {
            margin-bottom: 32px;
            text-align: center;
            padding: 0 16px;
            display: flex;
        }

        a {
            border: 1px solid $lightgrey;
            padding: 8px 16px;
            border-radius: 8px;
            background-color: $white;
        }
    }
}

// User Account Page --------------------------------
main.user-account-page {
    section {
        ol {

                font-size: 12px;

        }
    }
}